/* Aboutus.css */

.aboutus h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .aboutus h3 {
    font-size: 1.5rem;
    color: #666;
  }
  
  .aboutus p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
  }
  
  .footer .footer-logo {
    width: 40px;
    height: 40px;
  }
  
  .footer a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .text-end {
    text-align: right;
  }
  