/* General Styles */
* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #f6f8fd;
  --secondary-color: #dc3545;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
}

/* Navbar Styles */
.navbar .nav-link a {
  padding: 5px 10px;
  font-weight: 500;
  text-decoration: none;
}

.navbar .nav-link a:hover {
  color: #e70f0f;
}

.navbar .nav-link .active {
  background-color: rgb(63, 62, 62);
}

.navbar .nav-link .active:hover {
  color: var(--navbar-color);
}

.nav-link .active {
  font-weight: bold;
  color: #dc3545 !important;
}

/* Header Styles */
header {
  background: #ffffff;
}

.hero-section {
  background-color: #ffffff;
}

.hero-section h1 {
  font-size: 64px;
  font-weight: bolder;
}

.hero-section p {
  font-size: 1.25rem;
  color: #828282;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

/* General Layout */
.text-center {
  text-align: center;
}

.full-height-section {
  background-color: #f7f7f7;
  color: white;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height-section h1 {
  color: #000000;
}

.full-height-section p {
  color: #4e4d4d;
}

.white-divider {
  height: 100px;
  background-color: white;
}

.content {
  background-color: #ffffff;
}

.content p {
  color: #828282;
  font-size: 24px;
}

.content h2 {
  font-size: 40px;
  font-weight: bold;
}

/* Testimonial Styles */
.heading {
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: auto auto auto;
}

.testimonial {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  color: #828282;
  font-size: 12pt;
}

.testimonial-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Footer Styles */
.footer-section {
  background-color: #000000;
  color: white;
}

.footer-section a {
  text-decoration: none;
  color: white;
}

.footer-section a:hover {
  text-decoration: underline;
  color: #dc3545;
}
.image-custom {
  width: 624px;
  height: 400px;
  object-fit: cover;
}

.image-custom-small {
  width: 624px;
  height: 400px;
  object-fit: cover;
  margin-left: 20px;
}

.content {
  padding-right: 20px; /* Adjust this value as needed */
}